{% extends 'base.html.twig' %}

{% block title %} Penguin Antartica Circus - Administration{% endblock %}

{% block body %}
    <h1 class="text-center text-primary display-4"> Welcome on homepage for admin</h1>
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Article</h5>
                </div>
                <a href="{{ path('admin_article_index') }}"
                   class="stretched-link"> </a>
            </div>
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Thème</h5>
                </div>
                <a href="{{ path('admin_theme_index') }}"
                   class="stretched-link"> </a>
            </div>
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mot-clé</h5>
                </div>
                <a href="{{ path('admin_keywords_index') }}"
                   class="stretched-link"> </a>
            </div>
        </div>
    </div>

{% endblock %}