{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div>
        <h1>Hello {{ controller_name }}! You're in ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/pclf/Documents/WCS/checkpoint4/Pingui_Wild_Circus/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/pclf/Documents/WCS/checkpoint4/Pingui_Wild_Circus/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
