<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        {% endblock %}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        {% block navBar %}
                {% include('Blocks/_navbar.html.twig') %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
